@media screen and (max-width: 750px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin: auto 30;
  }
  .nav-list {
    display: none;
  }

  .nav-list-toggle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin: auto 0;
  }

  .nav-bar-toggle {
    height: 300px;
  }

  .nav-bar-toggle img {
    width: 177;
    height: 100;
  }

  .nav-bar-toggle .hamburger {
    display: block;
    position: relative;
    bottom: 100;
  }

  .image-container img {
    width: 375;
    height: 380;
  }
}

@media screen and (max-width: 1300px) {
  .nav-list-item {
    font-size: 20px;
  }

  #home-section {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .content-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 100;
    display: flex;
    justify-content: center;
  }

  .content-container span {
    font-size: 46px;
    letter-spacing: 2px;
    margin-bottom: 20;
  }

  .content-container p {
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 10;
  }

  .see-pokemons-btn {
    width: 200px;
    font-size: 20px;
  }
}
